body{
 margin:0;
 background:#222;
 overflow:hidden;
}

canvas{
 display:block;
 margin:auto;
 image-rendering:pixelated;
 background:#000;
}

#battleUI,#inventoryUI{
 position:fixed;
 left:10px;
 bottom:10px;
 background:#fff;
 padding:8px;
}
